.animation {
  position: relative;
  background: #000;
  height: 100%;
}
.animation .line {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-100px, -100px);
}
.animation .main {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.curve {
  stroke-dasharray: 3367 3367;
  stroke-dashoffset: 10101;
  stroke-linecap: null;
  stroke-linejoin: null;
  stroke-dasharray: null;
  stroke-width: 16;
}
.eraser {
  opacity: 0;
}
.main .goto {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 30px;
  opacity: 0;
}
.goto .arrow {
  cursor: pointer;
}
.goto .arrow:hover {
  transform: translate(8px, 0);
  transition: transform 0.3s ease;
}

.goto .more text {
  font-weight: bold;
  font-family: '优设好身体';
  cursor: pointer;
}
