* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gordita, Montserrat, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
}
@font-face {
  font-family: '优设好身体';
  src: url('@/src/assets/fonts/优设好身体.ttf');
}
